* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 50%;
  height: 100vh;

  margin: 0 auto;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("./assets/bg/background.jpg");
  background-size: cover;
  background-position-y: -8rem;

  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  width: 250px;
}

.gifs {
  display: flex;
}

.gif {
  height: 180px;
}

.nameChar {
  text-align: center;
  color: #e20714;
  text-shadow: 3px 2px 0px rgb(0, 0, 0);
  font-size: 1.5rem;
  font-family: "SSF4 ABUKET", sans-serif;
}

.chars .row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.chars .row img {
  width: 60px;
  margin: 0.3rem;
  transition: 0.2s;
}

.chars .row img:hover {
  border: 3px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #fb1909 0%,
    #e11306 25%,
    #c70c04 50%,
    #ac0602 75%,
    #920000 100%
  );
  border-image-slice: 1;
}

@media (max-width: 420px) {
  .chars .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .chars .row img {
    width: 40px;
    margin: 0.3rem;
    transition: 0.2s;
  }

  .nameChar {
    font-size: 1rem;
  }

  .gifs {
    display: flex;
  }

  .gif {
    height: 150px;
  }
} ;
